$white: #FFFFFF;
$text-default: #F9FAFA;
$text-primary: #CFD4D8;

$layer-0: #0B0D0E;
$layer-2: #32383E;
$highlight: #4C555E;
$button: #22262A;

$default: linear-gradient(110.7deg, #49EBF5 -9.14%, rgba(4, 219, 25, 0.7) 136.77%);
