.animate-circle-3 {
  position: absolute;
  left: 30px;
  bottom: 130px;
  width: 68px;
  height: 68px;

  &.active {
    bottom: 130px;
    left: 50px;
  }
}

.animate-circle-4  {
  position: absolute;
  left: -20px;
  bottom: 350px;
  width: 56px;
  height: 56px;

  &.active {
    bottom: 350px;
    left: 40vw;
  }
}

@media (min-width: 720px) and (max-width: 1199px) {
  .animate-circle-3 {
    left: 20px;
    bottom: 80px;
    width: 46px;
    height: 46px;

    &.active {
      bottom: 120px;
      left: 50px;
    }
  }

  .animate-circle-4  {
    left: -13.3px;
    bottom: 233.3px;
    width: 40px;
    height: 40px;

    &.active {
      bottom: 233.3px;
      left: 40vw;
    }
  }
}
