.animate-line-12 {
  position: absolute;
  top: 682px;
  right: 292px;
  width: 204px;
  height: 174.8px;

  &.active {
    top: 509px;
    right: 106px;
  }
}

@media (min-width: 720px) and (max-width: 1199px) {
  .animate-line-12 {
    position: absolute;
    top: 454.6px;
    right: 194.6px;
    width: 136px;
    height: 116.3px;

    &.active {
      top: 245px;
      right: 40px;
    }
  }
}
